caixa {
  height: 100px;
  width: 100px;
  background-color: grey;
}
header {
  padding: 2%;
  height: 50px;
  width 300px;
  background-color: grey;
}
nav {
  padding:1%;
  background-color: blue;
}
aside {
  padding:2%;
  height: 300px;
  width:100px;
  background-color: green;
  float: left;
}
main {
  padding: 2%;
  height:300px;
  background-color: yellow
}
footer {
  padding: 2%;
  background-color: red;
  clear: both;
}